@font-face {
    font-family: 'Press Start 2P';
    src: url('/public/fonts/Press_Start_2P,Russo_One/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Russo One';
    src: url('/public/fonts/Press_Start_2P,Russo_One/Russo_One/RussoOne-Regular.ttf') format('truetype')
}